UTIL.md

# rust
/target/
/Cargo.lock
/*/target/
/*/Cargo.lock

# intellij
**/.idea/
**/*.iml

# vscode
/.vscode/*
!/.vscode/launch.json
*.code-workspace

# lestinia
**/server_conf.toml
**/keybinds.toml
