[package]
name = "voxygen"
version = "0.1.0"
authors = ["grivo <notgrivo@gmail.com>"]
edition = "2018"

[dependencies]
common = { path = "../common" }

# gráficos
gfx = "0.17.1"
gfx_device_gl = "0.15.0"
gfx_window_glutin = "0.25.0"
glutin = "0.17.0"

# matemáticas
vek = "0.9"